{{#each this}}
  <li>
    <h3>
      title: {{title}}
    </h3>
    <img id="{{id}}" src="{{image}}" alt="{{title}}" />
    <div>
      <p>
        author: {{author.name}}
      </p>
      <span>
        country: {{author.country}}
      </span>
      {{#if author.city}}
        <span>
          city: {{author.city}}
        </span>
      {{/if}}
    </div>
    <div>
      <span>
        category: {{category}}
      </span>
      <span>
        seria: {{seria}}
      </span>
    </div>
    <p>
      description: {{description}}
    </p>
  </li>
{{/each}}